

<style>
.afb-mobile-br { display: none; }
.afb-newline { display: block; }
@media (max-width: 1023px) { .afb-newline { display: contents; } }
.above-footer-banner {
    align-self: stretch;
    height: clamp(400px, 30vw, 574px);
    position: relative;
    z-index: 1;
    overflow: visible;
    clip-path: inset(-9999px -9999px 0 -9999px);
    background-color: {{ section.settings.bg_color | default: 'var(--color-primary)' }};
}

.above-footer-banner .afb-img {
    position: absolute;
    object-fit: contain;
    flex-shrink: 0;
    pointer-events: none;
    transform-origin: top left;
}

.afb-img.afb-img--go_men {
    top: -130px; left: -288.87px;
    width: 933.14px; height: 520.79px;
    transform: scale(1.5);
}

.afb-img.afb-img--go_women {
    left: -284.38px;
    top: 221px;
    width: 1072.43px;
    height: 598.53px;
    transform: rotate(-28.64deg);
}

.afb-img.afb-img--ship_women {
    left: -161px; top: -87.75px;
    width: 1328px; height: 741px;
    transform: none;
}

.afb-img.afb-img--ship_men {
    left: -180px; top: -80px;
    width: 900px; height: 700px;
    transform: rotate(0deg);
}
.above-footer-content {
    position: absolute;
    top: clamp(40px, 7vw, 128px);
    right: clamp(30px, 10vw, 150px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(20px, 2vw, 40px);
    flex-shrink: 0;
    max-width: 60%;
}
.above-footer-heading {
    width: auto;
    max-width: 100%;
    color: #fff;
    font-size: clamp(32px, 3.5vw, 64px);
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 0;
}
.above-footer-bullets-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(12px, 1.2vw, 24px);
    font-size: clamp(14px, 1.05vw, 20px);
    font-family: Inter, sans-serif;
    color: #fff;
}
.above-footer-bullets-wrap > div {
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 500;
}
.above-footer-bullets-wrap ul {
    margin: 0;
    padding-left: 20px;
    font-family: inherit;
    font-size: inherit;
    list-style: disc;
}



@media (min-width: 1400px) and (max-width: 1599px) {
    .above-footer-banner {
        height: clamp(380px, 28vw, 520px);
    }
    .afb-img.afb-img--go_men {
        top: -131px;
        left: -259px;
        width: 830px;
        height: 463px;
        transform: scale(1.5);
    }
    .afb-img.afb-img--go_women {
        left: -240px; top: 175px;
        width: 920px; height: 513px;
        transform: rotate(-28.64deg);
    }
    .afb-img.afb-img--ship_women {
        left: -135px; top: -75px;
        width: 1180px; height: 659px;
    }
    .afb-img.afb-img--ship_men {
        left: -150px; top: -65px;
        width: 810px; height: 630px;
    }
    .above-footer-heading {
        font-size: clamp(30px, 2.8vw, 48px);
    }
}


@media (min-width: 1200px) and (max-width: 1399px) {
    .above-footer-banner {
        height: clamp(350px, 27vw, 470px);
    }
    .afb-img.afb-img--go_men {
        top: -131px;
        left: -259px;
        width: 830px;
        height: 463px;
        transform: scale(1.4);
    }
    .afb-img.afb-img--go_women {
        left: -200px; top: 140px;
        width: 780px; height: 435px;
        transform: rotate(-28.64deg);
    }
    .afb-img.afb-img--ship_women {
        left: -110px; top: -60px;
        width: 1040px; height: 580px;
    }
    .afb-img.afb-img--ship_men {
        left: -100px; top: -50px;
        width: 710px; height: 553px;
        transform: scale(1.15);
    }
    .above-footer-content {
        max-width: 55%;
    }
    .above-footer-heading {
        font-size: clamp(28px, 2.6vw, 38px);
    }
}


@media (min-width: 1024px) and (max-width: 1199px) {
    .above-footer-banner {
        height: clamp(320px, 30vw, 420px);
    }
    .afb-img.afb-img--go_men {
      top: -114px;
        left: -194px;
        width: 653px;
        height: 388px;
        transform: scale(1.5);
    }
    .afb-img.afb-img--go_women {
        left: -165px; top: 115px;
        width: 670px; height: 374px;
        transform: rotate(-28.64deg);
    }
    .afb-img.afb-img--ship_women {
        left: -70px; top: -42px;
        width: 880px; height: 491px;
    }
    .afb-img.afb-img--ship_men {
        left: -60px; top: -35px;
        width: 610px; height: 475px;
        transform: scale(1.2);
    }
    .above-footer-content {
        max-width: 50%;
        top: clamp(28px, 4.5vw, 72px);
        right: clamp(20px, 3vw, 48px);
        gap: clamp(14px, 1.6vw, 28px);
    }
    .above-footer-heading {
        font-size: clamp(26px, 2.8vw, 42px);
    }
    .above-footer-bullets-wrap {
        font-size: clamp(13px, 1.2vw, 17px);
    }
}


@media (max-width: 1023px) {
    .above-footer-banner {
        height: 640px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        clip-path: none;
    }
    .above-footer-content {
        position: relative;
        top: auto;
        right: auto;
        padding: 24px 22px 0;
        gap: 24px;
        order: -1;
        z-index: 1;
        max-width: none;
        width: 84.4%;
    }
    .above-footer-heading {
        width: auto;
        font-size: 40px;
        font-weight: 300;
        font-family: Georgia, 'Times New Roman', serif;
        line-height: 1;
    }
    .above-footer-bullets-wrap {
        font-size: 16px;
        gap: 12px;
    }
    .above-footer-bullets-wrap > div {
        line-height: 20px;
        font-weight: 300;
    }
    .above-footer-banner .afb-img {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        flex: 1;
        min-height: 0;
        object-fit: cover;
        object-position: center top;
        transform: none;
        transform-origin: center;
        z-index: 2;
        margin-top: -30px;
    }
    .above-footer-banner .afb-img.afb-img--go_women {
        object-fit: contain;
        object-position: center top;
        rotate: -32.72deg;
        top: 53.64px;
        scale: 1.2;
    }
    .above-footer-banner .afb-img.afb-img--go_men {
        object-fit: contain;
        object-position: center top;
        rotate: -19.49deg;
        top: 80px;
        scale: 1.1;
    }
    .above-footer-banner .afb-img.afb-img--ship_women {
        object-fit: contain;
        object-position: center top;
        top: 73.64px;
        left: 50px;
        scale: -1.3 1.3;
    }
    .above-footer-banner .afb-img.afb-img--ship_men {
        object-fit: contain;
        object-position: center top;
        top: 80px;
        scale: 1.5;
        left: 60px;
        rotate: -19.45deg;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .above-footer-banner {
        height: auto;
        min-height: 740px;
    }
    .above-footer-content {
        padding: 36px 32px 0;
        width: 75%;
        gap: 28px;
    }
    .above-footer-heading {
        font-size: 48px;
    }
    .above-footer-bullets-wrap {
        font-size: 18px;
        gap: 14px;
    }
    .above-footer-banner .afb-img {
        object-fit: contain;
        object-position: center top;
    }
    .above-footer-banner .afb-img.afb-img--ship_women {
        top: 65px;
        left: 45px;
        scale: -1.25 1.25;
    }
    .above-footer-banner .afb-img.afb-img--ship_men {
        top: 72px;
        scale: 1.4;
        left: 55px;
    }
    .above-footer-banner .afb-img.afb-img--go_women {
        top: 48px;
        scale: 1.25;
    }
    .above-footer-banner .afb-img.afb-img--go_men {
        top: 72px;
        scale: 1.08;
    }
}


@media (min-width: 480px) and (max-width: 767px) {
    .above-footer-banner {
        height: auto;
        min-height: 640px;
    }
    .above-footer-content {
        padding: 28px 24px 0;
        width: 84%;
        gap: 24px;
    }
    .above-footer-heading {
        font-size: 42px;
    }
    .above-footer-bullets-wrap {
        font-size: 16px;
        gap: 12px;
    }
    .above-footer-banner .afb-img {
        margin-top: -25px;
    }
    .above-footer-banner .afb-img.afb-img--ship_women {
        top: 58px;
        left: 35px;
        scale: -1.18 1.18;
    }
    .above-footer-banner .afb-img.afb-img--ship_men {
        top: 68px;
        scale: 1.3;
        left: 45px;
    }
    .above-footer-banner .afb-img.afb-img--go_women {
        top: 44px;
        scale: 1.20;
    }
    .above-footer-banner .afb-img.afb-img--go_men {
        top: 66px;
        scale: 1.04;
        left: -20px;
    }
}


@media (max-width: 479px) {
    .above-footer-banner {
        height: 640px;
    }
    .above-footer-content {
        padding: 24px 22px 0;
        width: 84.4%;
        gap: 24px;
    }
    .above-footer-heading {
        font-size: 40px;
        line-height: 1.15;
    }
    .above-footer-bullets-wrap {
        font-size: 16px;
        gap: 12px;
        max-width: 326px;
    }
    .above-footer-bullets-wrap > div {
        line-height: 20px;
    }
    .above-footer-banner .afb-img {
        margin-top: -18px;
    }
    .above-footer-banner .afb-img.afb-img--ship_women {
        top: 48px;
        left: 20px;
        scale: -1.08 1.08;
    }
    .above-footer-banner .afb-img.afb-img--ship_men {
        top: 58px;
        scale: 1.18;
        left: 30px;
    }
    .above-footer-banner .afb-img.afb-img--go_women {
        top: 36px;
        left: 0px;
        scale: 1.2;
        rotate: -32.72deg;
    }
    .above-footer-banner .afb-img.afb-img--go_men {
        top: 58px;
        scale: 1.15;
        left: -15px;
    }
}


@media (max-width: 374px) {
    .above-footer-banner {
        height: 580px;
    }
    .above-footer-content {
        padding: 20px 18px 0;
        width: 86%;
        gap: 20px;
    }
    .above-footer-heading {
        font-size: 34px;
    }
    .above-footer-bullets-wrap {
        font-size: 14px;
        gap: 10px;
    }
    .above-footer-bullets-wrap > div {
        line-height: 18px;
    }
    .above-footer-banner .afb-img {
        margin-top: -12px;
    }
    .above-footer-banner .afb-img.afb-img--ship_women {
        top: 38px;
        left: 12px;
        scale: -0.98 0.98;
    }
    .above-footer-banner .afb-img.afb-img--ship_men {
        top: 48px;
        scale: 1.06;
        left: 18px;
    }
    .above-footer-banner .afb-img.afb-img--go_women {
        top: 45px;
        left: 11px;
        scale: 1.25;
        rotate: -32.72deg;
    }
    .above-footer-banner .afb-img.afb-img--go_men {
        top: 58px;
        scale: 1.15;
        left: -15px;
    }
}
[dir="rtl"] .above-footer-content {
    align-items: flex-end;
    text-align: right;
}
[dir="rtl"] .above-footer-bullets-wrap {
    align-items: flex-end;
}
[dir="rtl"] .above-footer-bullets-wrap ul {
    padding-left: 0;
    padding-right: 20px;
}
</style>

<section class="above-footer-banner" id="above-footer-banner-{{ section.id }}">
    {%- # theme-check-disable RemoteAsset -%}
    <img class="afb-img afb-img--go_women"
         src="{% if section.settings.image_go_women != blank %}{{ section.settings.image_go_women | image_url }}{% else %}{{ 'women-hand-qatar.png' | asset_url }}{% endif %}" alt=""
         width="1072" height="599" loading="lazy"
         data-src-go_men="{% if section.settings.image_go_men != blank %}{{ section.settings.image_go_men | image_url }}{% else %}{{ 'FooterHand.png' | asset_url }}{% endif %}"
         data-src-mobile-go_men="{% if section.settings.image_mobile_go_men != blank %}{{ section.settings.image_mobile_go_men | image_url }}{% elsif section.settings.image_go_men != blank %}{{ section.settings.image_go_men | image_url }}{% else %}{{ 'Qtr-m-h.png' | asset_url }}{% endif %}"
         data-src-go_women="{% if section.settings.image_go_women != blank %}{{ section.settings.image_go_women | image_url }}{% else %}{{ 'Qtr-w-h.png' | asset_url }}{% endif %}"
         data-src-mobile-go_women="{% if section.settings.image_mobile_go_women != blank %}{{ section.settings.image_mobile_go_women | image_url }}{% elsif section.settings.image_go_women != blank %}{{ section.settings.image_go_women | image_url }}{% else %}{{ 'Qtr-w-h.png' | asset_url }}{% endif %}">
    {%- # theme-check-enable RemoteAsset -%}
    <div class="above-footer-content">
        <div class="above-footer-heading">{{ section.settings.heading_text }}</div>
        <div class="above-footer-bullets-wrap">
            {% if section.settings.bullet_1 != blank %}
                <div><ul><li>{{ section.settings.bullet_1 }}</li></ul></div>
            {% endif %}
            {% if section.settings.bullet_2 != blank %}
                <div><ul><li>{{ section.settings.bullet_2 }}</li></ul></div>
            {% endif %}
            {% if section.settings.bullet_3 != blank %}
                <div><ul><li>{{ section.settings.bullet_3 }}</li></ul></div>
            {% endif %}
        </div>
    </div>
</section>

<script>
(function() {
    var section = document.getElementById('above-footer-banner-{{ section.id }}');
    if (!section) return;
    var img = section.querySelector('.afb-img');
    if (!img) return;
    var cache = {};

    function getMode() {
        var dm = localStorage.getItem('delivery_mode') || 'ready-to-go';
        return dm.replace('ready-to-', '');
    }

    ['go'].forEach(function(m) {
        ['men', 'women'].forEach(function(g) {
            var key = m + '_' + g;
            var desktopSrc = img.getAttribute('data-src-' + key);
            var mobileSrc = img.getAttribute('data-src-mobile-' + key);
            if (desktopSrc) {
                var p = new Image();
                p.src = desktopSrc;
                cache[key] = p;
            }
            if (mobileSrc) {
                var p2 = new Image();
                p2.src = mobileSrc;
                cache['mobile_' + key] = p2;
            }
        });
    });

    function update() {
        var mode = getMode();
        var gender = localStorage.getItem('amirivibes_department') || 'women';
        var key = mode + '_' + gender;
        var isMobile = window.innerWidth < 1024;
        var mobileSrc = isMobile ? img.getAttribute('data-src-mobile-' + key) : null;
        var newSrc = img.getAttribute('data-src-' + key);
        if (!newSrc) return;
        var fullSrc = mobileSrc || newSrc;
        if (img.src === fullSrc) return;

        img.style.visibility = 'hidden';
        img.className = 'afb-img afb-img--' + key;
        img.src = fullSrc;

        if (img.complete) {
            img.style.visibility = '';
        } else {
            img.onload = function() { img.style.visibility = ''; };
            img.onerror = function() { img.style.visibility = ''; };
        }
    }
    update();
    window.addEventListener('departmentChanged', update);
    window.addEventListener('deliveryModeChanged', update);
})();
</script>

{% schema %}
{
  "name": "Above Footer Banner",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "textarea",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "A selection of designer pieces,<span class='afb-newline'> chosen with purpose</span>"
    },
    {
      "type": "text",
      "id": "bullet_1",
      "label": "Bullet 1",
      "default": "Selected For Quality, Rarity, And Design."
    },
    {
      "type": "text",
      "id": "bullet_2",
      "label": "Bullet 2",
      "default": "Exclusive Styles In Limited Quantities."
    },
    {
      "type": "text",
      "id": "bullet_3",
      "label": "Bullet 3",
      "default": "Delivered Through A Seamless Experience."
    },
    {
      "type": "header",
      "content": "Images (Women)"
    },
    {
      "type": "image_picker",
      "id": "image_go_women",
      "label": "Ready to Go (Qatar) - Women"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_go_women",
      "label": "Ready to Go (Qatar) - Women Mobile"
    },

    {
      "type": "header",
      "content": "Images (Men)"
    },
    {
      "type": "image_picker",
      "id": "image_go_men",
      "label": "Ready to Go (Qatar) - Men"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_go_men",
      "label": "Ready to Go (Qatar) - Men Mobile"

  ],
  "presets": [
    {
      "name": "Above Footer Banner"
    }
  ]
}
{% endschema %}
